# Überschrift
## Unterüberschrift
das ist Text
- Punkt 1
- Punkt 2
- *Punkt2*

In [1]:
print("Hello World")

Hello World

In [2]:
name = "Lovelace"

In [3]:
print (name)

Lovelace

In [4]:
age = 73

In [5]:
print (age)

73

In [6]:
size = 1.7123

In [7]:
# Boolscher Wert
knows_math = True
likes_slacking = False

In [8]:
type (size)

float

In [9]:
type (name)

str

In [10]:
# Operatoren
age * 100

7300

In [11]:
name + name

'LovelaceLovelace'

In [12]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [13]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [14]:
name + "10"

'Lovelace10'

In [15]:
name + age

TypeError: can only concatenate str (not "int") to str

In [16]:
namte + str(age)

NameError: name 'namte' is not defined

name + str(age)

In [23]:
new_number = (10)
int(new_number)

10

In [24]:
type(new_number)

int

In [25]:
# Funktionen und Methoden
len(name)

8

In [26]:
name

'Lovelace'

In [27]:
name

'Lovelace'

In [28]:
name.upper()

'LOVELACE'

In [29]:
name

'Lovelace'

In [30]:
name_capital = name.upper()

In [31]:
name.count("e")

2

In [32]:
name_count ("l")

NameError: name 'name_count' is not defined

In [33]:
name.count("l")

1

In [34]:
name:replace?

Object `replace` not found.

In [ ]:
name:replace

In [35]:
name.replace?

In [36]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [37]:
# Liste und Dictionaries

In [39]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [42]:
names [2]

'Curie'

In [43]:
names [0]

'Lovelace'

In [1]:
name = "Darwin"

In [2]:
print (name)

Darwin

In [3]:
234 + 6

240

In [4]:
234+6

240

In [5]:
age = 73

In [6]:
Jahr = 30

In [7]:
print (age + Jahr)

103

In [9]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [10]:
print (names [4])

IndexError: list index out of range

In [11]:
print (names)

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [12]:
print (names[4])

IndexError: list index out of range

In [13]:
print [4]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [14]:
names[4]

IndexError: list index out of range

In [15]:
names[3]

'Hawking'

In [16]:
print (names[3])

Hawking

In [17]:
names[-1]

'Hawking'

In [19]:
# Slicing
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [20]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [21]:
names[3:]

['Hawking']

In [22]:
# Ditionary
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Noether": 1882}

In [23]:
authors_and_birth_years["Darwin"]

1809

In [24]:
 authors_and_birth_years["Noether"]

1882

In [25]:
authors_and_birth_years = {"Lovelace": [1882, "London", "1903"}],
                           "Darvin": 1809,
                           "Noether": 1882}

SyntaxError: invalid syntax (<ipython-input-25-664d91674112>, line 1)

In [26]:
authors_and_birth_years = {"Lovelace": [1882, "London", "1903"],
                           "Darvin": 1809,
                           "Noether": 1882}

In [27]:
authors_and_birth_years["Lovelace"][1]

'London'

In [28]:
%who

Jahr	 age	 authors_and_birth_years	 name	 names

In [29]:
# for-Schleifen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [30]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [31]:
for name in names:
    print(name + " did awesome stuff")
    print ("___________________")

Lovelace did awesome stuff
___________________
Darwin did awesome stuff
___________________
Curie did awesome stuff
___________________
Hawking did awesome stuff
___________________

In [32]:
for name in names:
    print(name + " did awesome stuff")
print ("___________________")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
___________________

In [33]:
# contitional (bedingte Anweisungen)
temp = 20

In [34]:
# hier ist eine Einrückung wieder notwendig
if temp >15:
    print("It's warm")

It's warm

In [35]:
temp > 15

True

In [36]:
20 > 15

True

In [37]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [42]:
# == dient dem  (ist das Gleichheitszeichen wie beim Rechnen)
temp = 20
if temp == 20:
    print("It's perfect")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's perfect